@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color1: #ED8B00;
  --main-color2: #024273;
  --text-color: #181A1F;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
}

*:not(i) {
  font-family: 'Titillium Web';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.loader {
  position: relative;
width: 164px;
height: 164px;
border-radius: 50%;
animation: rotate 0.75s linear infinite;
}
.loader::before {
content: '';
position: absolute;
width: 20px;
height: 40px;
border: 1px solid #FF3D00;
border-width: 12px 2px 7px;
border-radius: 2px 2px 1px 1px;
box-sizing: border-box;
transform: rotate(45deg) translate(24px, -10px);
background-image: linear-gradient(#FF3D00 20px, transparent 0),
linear-gradient(#FF3D00 30px, transparent 0),
linear-gradient(#FF3D00 30px, transparent 0);
background-size: 10px 12px , 1px 30px, 1px 30px;
background-repeat: no-repeat;
background-position: center , 12px 0px , 3px 0px;
}
.loader::after {
content: '';
position: absolute;
height: 4px;
width: 4px;
left: 20px;
top: 47px;
border-radius: 50%;
color: #Fff;
box-shadow: -4px 7px 2px, -7px 16px 3px 1px,
-11px 24px 4px 1px, -6px 24px 4px 1px,
-14px 35px 6px 2px, -5px 36px 8px 2px,
-5px 45px 8px 2px, -14px 49px 8px 2px,
6px 60px 11px 1px, -11px 66px 11px 1px,
11px 75px 13px, -1px 82px 15px;
}

@keyframes rotate {
to{transform:rotate(360deg)   }
}


@layer utilities {
  .nav_item {
    @apply p-3 cursor-pointer rounded-3xl transition-all hover:bg-[var(--main-color2)] ;
  }
}



/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.slick-arrow {
  display: none !important;
}

*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
  height: 8px;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.8); /* color of the tracking area */
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.4); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(177, 177, 177, 0.4); /* creates padding around scroll thumb */
  cursor: pointer;
}